html,
body {
        height: 100%;
        font-family: "Lato", sans-serif
}

#map {
        position: fixed;
        margin-top:60px;
        margin-bottom:20px;
        margin-right:20px;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70%;
        background-color: #f2f2f2;
}
.label1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4px;
        font-weight: lighter;
        color: white;
        border-radius: 5px;
        padding: 5px;
        max-zoom: 8;
      }
      
      .label2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: bold;
        color: rgb(230, 22, 234);
        border-radius: 5px;
        padding: 5px;
      }

#charts {
        position: absolute;
        top: 20px;
        right: 0;
        width: 100px;
        height: 100px;
        border: 1px solid #616260;
}



#div.fixed {
        position: fixed;
        left: 2px;
        width: fit-content
}