<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cadastral Information System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/python/css/report.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/index.css">
</head>

<body>
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)"
        onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="index" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
      <a href="district" class="w3-bar-item w3-button w3-padding-large">Search by Thram</a>
      <a href="plotid" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Search by Plot ID</a>

    </div>
    <div class="dropdown">
      <button class="dropbtn">Overview</button>
      <div class="dropdown-content">
        <a href="thramchart">Thram Holder Districtwise</a>
        <a href="landtypechart">Landtype Districtwise</a>
        <a href="plotchart">Total Plots Districtwise</a>
        <a href="otchart"> Number of Thram Ownertypewise</a> 
      </div>
    </div>
  </div>
  </div>

  <img src="{{ user_image }}" alt="User Image" style="position: fixed;
      margin-top:48px;
      margin-bottom:10px;
      margin-right:5px;
      margin-left: 30px;
      top: 0;
      right: 0;
      bottom: 0;
      width: 85%;
      height: 87%;">
  <!-- </div> -->

  <div style="position: absolute;
  bottom: 0;
  left: 7;
  width: 15%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;">
    <h5 style="text-align: left;font-weight: bold;font-style: italic;font-size: medium;">Developers</h5>
    <img src="{{ developers }}" alt="Developers" style="height: 80%;width: 90%;">
  </div>

  <div style="position: absolute;
  bottom: 45%;
  left: 7;
  width: 12%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;">
    <h5 style="text-align:left;font-weight:bold;font-style:normal;font-size:12px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Course: Group Project Seminar on <p>
      </p>Programming and Analysis
    </h5>
    <img src="{{ NOVA_IMS_Logo }}" alt="NOVA_IMS_Logo" style="height: 50%;width: 60%;">
  </div>
</body>


</html>