<!-- Administrative Boundaries js -->
<script src="../static/data/country.js"></script>
<script src="../static/data/district.js"></script>
<script src="../static/data/subdistrict.js"></script>
<script src="../static/js/main.js"></script>

<script type="text/javascript">
    var geojson = JSON.parse('{{ data|safe }}');
    var parcel = L.geoJSON(geojson).addTo(map);
    var bnd_parcel = parcel.getBounds()
    var center = bnd_parcel.getCenter();
    var zoom = map.getBoundsZoom(bnd_parcel);
    map.setView(center, zoom);
</script>