<html lang="en">

<head>
  <title>Cadastral Information System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css  -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css">
  


  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


  <!-- leaflet js -->
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <script src="https://cdn.jsdelivr.net/leaflet.label/0.2.4/leaflet.label.js"></script>


  <script type="text/javascript">
    $(document).ready(function () {
      $('#search_district_id').change(function () {
        $.post("/get_gewog", {
          district_id: $('#search_district_id').val(),
        }, function (gewog) {
          $('#show_subdistricts').html(gewog);
          $('#show_subdistricts').append(gewog.htmlresponse);
        });
        return false;
      });
    }); 
  </script>
  <script>

  </script>
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)"
        onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="index" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
      <a href="district" class="w3-bar-item w3-button w3-padding-large">Search by Thram</a>
      <a href="plotid" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Search by Plot ID</a>

    </div>

  </div>
  </div>

  <!-- Page content -->
  <!-- The Selection Option Section -->
  <div id="relative" style="margin-top:46px">
    <div class="col-lg-3" style="margin-left:20px">
      <h3>Search Thram (Title)</h3>
      <form action="#sheet" name="form" id="form" method="post">
        <label>Select District</label>
        <select name="search_district" id="search_district_id" class="form-control">
          <option value="" selected="selected"></option>
          {% for adzongkhag, adescr in edistricts %}
          <option value='{{adzongkhag}}'>{{adescr}}</option>
          {% endfor %}
        </select>
        <div id="show_subdistricts"></div>
      </form>

    </div>
  </div>
  <div id="map"></div>
  <!-- Administrative Boundaries js -->
  <script src="../static/data/country.js"></script>
  <script src="../static/data/district.js"></script>
  <script src="../static/data/subdistrict.js"></script>
  <script src="../static/js/main.js"></script>
  <!--   <div id="table-container">
    <table id="data-table">
      <thead>
        <td>
          <th>Owner</th>
          <th>District</th>
          <th>Geowog</th>
          <th>Owner_id</th>
          <th>Tenure_type</th>
          <th>Plots</th>
          <th>Total_area</th>
          <th>Land_use</th>
        </td>
      </thead>
      <tbody></tbody>
    </table>
  
  </div>
  <script>
    fetch('/plot_thram')
      .then(response => response.json())
      .then(data => {
        const tableBody = document.querySelector('#data-table tbody');
        for (let i = 0; i < count(row.data); i++) {
          const tableRow = document.createElement('tr');
          const Owner = document.createElement('td');
          const District = document.createElement('td');
          const Geowog = document.createElement('td');
          const Owner_id = document.createElement('td');
          const Tenure_type = document.createElement('td');
          const Plots = document.createElement('td');
          const Total_area= document.createElement('td');
          const Land_use = document.createElement('td');
          Owner.textContent = data[i].owner_name;
          District.textContent = data[i].district;
          Geowog.textContent = data[i].sub_district;
          Owner_id.textContent = data[i].owner_id;
          Tenure_type.textContent = data[i].tenure_type;
          Plots.textContent = data[i].plot_id;
          Total_area.textContent = data[i].plot_area;
          Land_use.textContent = data[i].land_use;
          tableRow.appendChild(Owner);
          tableRow.appendChild(District);
          tableRow.appendChild(Geowog);
          tableRow.appendChild(Owner_id);
          tableRow.appendChild(Tenure_type);
          tableRow.appendChild(Plots);
          tableRow.appendChild(Total_area);
          tableRow.appendChild(Land_use);
          tableBody.appendChild(tableRow);
        }
      });
  </script> -->
</body>

</html>